@import '~ant-design-vue/es/style/themes/default.less';
:root {
    --mBg: #f7f9fc;
    --blue: @primary-color;
    --primaryColor: @primary-color;
    --primaryHover: fade(@primary-color, 10%);
    --selected: rgba(29, 101, 192, 0.15);
    --text1: #2D2D2D;
    --eBg: #ffffff;
    --lBg: #f1f2f7;
    --documentBg: #fafafa;
    --borderColor: #e1e7ec;
    --borderColor2: #e8e8e8;
    --borderColor3: #f3f3f3;
    --bgColor: #ffffff;
    --bgColor2: #fafafa;
    --hoverBg: whitesmoke;
    --colorGray: #e4e5ebd0;
    --warningBg: #fffbe6;
    --warningBorder: #ffe58f;
    --border1: #f1f1f1;
    --border2: #dfe0e4;
    --border3: #e1e7ec;
    --text: #2D2D2D;
    --red: rgba(239, 68, 68, 1);
    --errorRed: #f5222d;
    --gray: #72849a;
    --orange: #fbbb34;
    --ag-odd-row-background-color: rgba(0, 0, 0, 0.04);
    --ag-range-selection-border-color: #1d65c0;
    --ag-selected-row-background-color: rgba(29, 101, 192, 0.2);
    --ag-value-change-value-highlight-background-color: rgba(170, 225, 214, 0.4);
    --borderRadius: 8px;
    --rounded-full: 0px;
    --blueUnfocus: rgba(29, 101, 192, 0.5);
    --green: #28af14;
    --fieldMaxWidth: 300px;
    --bg2: #f1f3f5;
    --bgColor6: #d9d9d9;
    --grayColor: #e4e6eb;
    --tableHeadBg: #f4f7f7;
    --mainBg: #f5f6fa;
    --headerHeight: 50px;
    --wrapperMargin: 0 15px;
    --placeholder: #888888;
    --cPink: #eb2f96;
    --cMagenta: #eb2f96;
    --cRed: #FF5C5C;
    --cVolcano: #fa541c;
    --cOrange: #FF9A01;
    --cYellow: #fadb14;
    --cGold: #faad14;
    --cCyan: #13c2c2;
    --cLime: #a0d911;
    --cGreen: #368225;
    --cBlue: #4777FF;
    --cGeekblue: #2f54eb;
    --cPurple: #722ed1;
    --cGrey: #888888;
    --cBrown: #521F3B;

    // FullCalendar
    --fc-border-color: var(--border2);
    --fc-today-bg-color: #ffffff;
    --fc-neutral-bg-color: #eff2f5;

    // CKeditor
    --ck-border-radius: var(--borderRadius)!important;
    --ck-color-base-border: var(--border2)!important;
    --ck-color-toolbar-background: transparent!important;
    --ck-color-button-default-hover-background: #f7f9fb!important;
    --ck-color-button-on-background: var(--primaryHover)!important;
    --ck-color-button-on-hover-background: #f7f9fb!important;
    --ck-color-base-active: var(--blue)!important;
    --ck-drop-shadow: 0 2px 8px var(--ck-color-shadow-drop)!important;
    --ck-color-shadow-drop: rgba(0, 0, 0, 0.15)!important;
    --ck-color-focus-border: var(--blue)!important;
    --ck-z-default: 3000!important;

    // Gant
    --dhx-gantt-base-colors-border-light: var(--border2)!important;
    --dhx-gantt-base-colors-border: var(--border2)!important;
    --dhx-gantt-base-colors-text-light: var(--text)!important;

    // New design system colors:
    --functional-label-success-background: #E6EFE3;
    --functional-background-success-level-1: #F0F7EA;
    --functional-background-danger-level-1: #FFEDED;
    --functional-label-primary-background: #E8EDFA;

    --functional-label-success-text: #368225;
    --functional-label-success-active: #A8C985;
    --functional-label-danger-text: #FF5C5C;
    --functional-label-primary-text: #4777FF;
    --functional-text-on-success: #368225;
    --functional-text-muted: #888888;
}
