<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<img src="{{ logo }}" style="padding-right: 5px;max-width: 200px;">
<br>
<p>Уважаемый {{ fio }}!</p>
<p>Вы получили это письмо, потому что являетесь сотрудником организации "{{ contractor }}", уполномоченным </p>
<p>на взаимодействие c компанией "{{ company_name }}" через "Личный кабинет"</p>
<a href="{{ frontend_url }}"> {{ frontend_url }} </a>.
<p>Для регистрации на портале используйте:</p>
<p>логин: <strong>{{ email }}</strong> ,</p>
<p>пароль: <strong>{{ password }}</strong></p>
<p><strong>Рекомендуем сменить пароль после первого входа.</strong></p>
<p>Если у Вас возникнут сложности при использовании "Личного кабинета", напишите нам на
    почту {{ support_email }}</p>
<p>С уважением и заботой об отношениях, компания "{{ company_name }}"</p>
</body>
</html>
