<!-- example_template.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Генерация проектов</title>
</head>
<body>
    <h1 align="center">Генерация проектов</h1>

    <div style="width: 1000px; margin: 50px auto;">
        <form id="form" action="{% url 'student_clubs:project_generator_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="file" name="file" accept=".xlsx" required style="width: 500px; margin: 20px auto; display: block;">
            <button type="submit" style="width: auto; margin: 20px auto; display: block;">Создать проекты</button>
        </form>
    </div>

    <script>
        const form = document.getElementById('form');
        
        form.addEventListener('submit', function(event) {

            event.preventDefault();
            const formData = new FormData(form);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', form.action, false);

            xhr.addEventListener('load', function() {
                if (xhr.status === 200) {
                    alert('Проекты созданы.');
                } else {
                    alert('Ошибка создания проектов.');
                }
            });

            xhr.send(formData);

        });
    </script>    
</body>
</html>

